.favorites {
}

.cards .second, .cards .third {
    display: none;
}

.faves {
    display: grid;
    grid-template-columns: 1fr;
}
.faves .card {
    margin: 10px;
}

.favorite-titles {
    padding: 20px;
}

@media only screen and (min-width: 768px) {
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cards .first {
 grid-column: 1/2;
}
.cards .second {
    grid-column: 2/3;
    display: block;
}
  

  .faves {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
  @media only screen and (min-width: 1024px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards .first {
     grid-column: 1/2;
    }
    .cards .second {
        grid-column: 2/3;
        display: block;
    }
    .cards .third {
        grid-column: 3/4;
        display: block;
    }  
    .faves {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
}

/* PINK */

/* PURPLE */

/* BLUE */

/* GREEN */