.cards .second,
.cards .third {
  display: none;
}

.faves {
  display: grid;
  grid-template-columns: 1fr;
}
.faves .card {
  margin: 20px;
}

.favorite-titles {
  padding: 20px;
}
.your-faves {
  padding: 20px;
}
.your-faves button {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards .first {
    grid-column: 1/2;
  }
  .cards .second {
    grid-column: 2/3;
    display: block;
  }
  .faves {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards .first {
    grid-column: 1/2;
  }
  .cards .second {
    grid-column: 2/3;
    display: block;
  }
  .cards .third {
    grid-column: 3/4;
    display: block;
  }
  .faves {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* PINK */
.favorite-button.pink {
  background-color: #c61350;
  color: white;
  border: 1px solid #f8b3ca;
  width: 200px;
}
.your-faves.pink {
  background-color: #f9c5d7;
}

/* PURPLE */
.favorite-button.purple {
  background-color: #4b2f94;
  color: white;
  border: 1px solid #beafe6;
  width: 200px;
}
.your-faves.purple {
  background-color: #cbbeea;
}

/* BLUE */
.favorite-button.blue {
  background-color: #0034d1;
  color: white;
  border: 1px solid #a3baff;
  width: 200px;
}
.your-faves.blue {
  background-color: #b8caff;
}

/* GREEN */
.favorite-button.green {
  background-color: #418f3e;
  color: white;
  border: 1px solid #bee2bc;
  width: 200px;
}
.your-faves.green {
  background-color: #cce8ca;
}
