@keyframes home {
    from {color: blue}
    to {color: white}
}

.homeName {
    font-size: 15vw;
    animation-name: home;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.homeH2 {
    font-size: 7vw;
}
h3 {
    font-size: 5vw;
    width: 75%;
margin: 0 auto;
}
ul {
    padding-left: 0px;
}
li {
    list-style: none;
    font-size: 3vw;
}



