.customized {
    padding: 10px;

}

/* PINK */
.customized.pink {
    background-color: #F9C5D7;
    color: #F06897;
}
.customized.pink a {
    color: #C61350;
}
.customized.pink button, .customized.pink #submit {
    background-color: #C61350;
    color: white;
    border: 1px solid #F8B3CA;
    width: 200px;
}
/* PURPLE */
.customized.purple {
    background-color: #CBBEEA;
    color: #8C71D2;
}
.customized.purple a {
    color: #4B2F94;
}
.customized.purple button, .customized.purple #submit{
    background-color: #4B2F94;
    color: white;
    border: 1px solid #BEAFE6;
    width: 200px;
}
/* BLUE */
.customized.blue {
    background-color: #B8CAFF;
    color: #527DFF;
}
.customized.blue a {
    color: #0034D1;
}
.customized.blue button, .customized.blue #submit {
    background-color: #0034D1;
    color: white;
    border: 1px solid #A3BAFF;
    width: 200px;
}
/* GREEN */
.customized.green {
    background-color: #CCE8CA;
    color: #86C983;
}
.customized.green a {
    color: #418F3E;
}
.customized.green button, .customized.green #submit {
    background-color: #418F3E;
    color: white;
    border: 1px solid #BEE2BC;
    width: 200px;
}