.customized {
  padding: 10px;
  margin: 10px;
}
.customized.mx-auto {
  margin: 30px;
}

/* PINK */
.customized.pink {
  background-color: #f9c5d7;
  color: #f06897;
}
.customized.pink a {
  color: #c61350;
}
.customized.pink button,
.customized.pink #submit {
  background-color: #c61350;
  color: white;
  border: 1px solid #f8b3ca;
  width: 200px;
}

/* PURPLE */
.customized.purple {
  background-color: #cbbeea;
  color: #8c71d2;
}
.customized.purple a {
  color: #4b2f94;
}
.customized.purple button,
.customized.purple #submit {
  background-color: #4b2f94;
  color: white;
  border: 1px solid #beafe6;
  width: 200px;
}

/* BLUE */
.customized.blue {
  background-color: #b8caff;
  color: #527dff;
}
.customized.blue a {
  color: #0034d1;
}
.customized.blue button,
.customized.blue #submit {
  background-color: #0034d1;
  color: white;
  border: 1px solid #a3baff;
  width: 200px;
}

/* GREEN */
.customized.green {
  background-color: #cce8ca;
  color: #86c983;
}
.customized.green a {
  color: #418f3e;
}
.customized.green button,
.customized.green #submit {
  background-color: #418f3e;
  color: white;
  border: 1px solid #bee2bc;
  width: 200px;
}
