@keyframes home {
    from {color: black}
    to {color: white}
}
.Home {
    
}
.home-name {
    font-size: 15vw;
    animation-name: home;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 40px;
    margin-top: 50px;
}
.home-help {
    font-size: 7vw;
}
h3 {
    font-size: 5vw;
    width: 75%;
margin: 0 auto;
}
.main-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.buttons {
    margin: 10px;
}

/* PINK */
button.pink {
    background-color:#F06897
}

/* PURPLE */


/* BLUE */


/* GREEN */