@keyframes home {
    from {color: black}
    to {color: white}
}
@keyframes pink{
    from {color: #C61350}
    to {color: #F9C5D7}
}
@keyframes purple {
    from {color: #4B2F94}
    to {color: #CBBEEA}
}
@keyframes blue {
    from {color: #0034D1}
    to {color: #B8CAFF}
}
@keyframes green {
    from {color: #418F3E}
    to {color: #CCE8CA}
}

.Home {
    background-color: white;
    height: 100vh;
}

.home-name {
    font-size: 15vw;
    animation-name: home;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-top: 50px;
    padding-bottom: 50px;

}
.home-help {
    font-size: 7vw;
}
h3 {
    font-size: 5vw;
    width: 75%;
    margin: 10px auto;
    padding: 10px;
}
.main-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.buttons {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
button {
    padding: 5px;

}

/* PINK */
button.pink {
    background-color:#F06897;
    color: #F9C5D7;
    border: 1px solid #C61350;
    width: 100px;
}

h2.pink {
    color: #F9C5D7;
}
.main-link.pink {
    color: #F06897;
}
.main-link.pink:hover {
    color: #C61350
}
.home-name.pink {
    animation-name: pink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* PURPLE */
button.purple {
    background-color:#8C71D2;
    color: #CBBEEA;
    border: 1px solid #4B2F94;
    width: 100px;
}

h2.purple {
    color: #CBBEEA;
}
.main-link.purple {
    color: #8C71D2;
}
.main-link.purple:hover {
    color: #4B2F94
}
.home-name.purple {
    animation-name: purple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* BLUE */
button.blue {
    background-color:#527DFF;
    color: #B8CAFF;
    border: 1px solid #0034D1;
    width: 100px;
}
h2.blue {
    color: #B8CAFF;
}
.main-link.blue {
    color:#527DFF;
}
.main-link.blue:hover {
    color: #0034D1
}
.home-name.blue {
    animation-name: blue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* GREEN */
button.green {
    background-color:#86C983;
    color: #CCE8CA;
    border: 1px solid #418F3E;
    width: 100px;
}
h2.green {
    color: #CCE8CA;
}
.main-link.green {
    color:#86C983;
}
.main-link.green:hover {
    color: #418F3E;
}
.home-name.green {
    animation-name: green;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}