.about {
    background-color: red;
    width: 75%;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-creator {
    grid-column: 1/2;
}
.about-card {
    grid-column: 2/3;
}
}
