.about {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    width: 100%;
    height: 75vh;
  }
  .about-creator {
    grid-column: 1/2;
  }
  .about-card {
    grid-column: 2/3;
  }
}

/* PINK */
.about.pink {
  background-color: #f9c5d7;
  color: #f06897;
}
.about.pink a {
  color: #c61350;
}

/* PURPLE */
.about.purple {
  background-color: #cbbeea;
  color: #8c71d2;
}
.about.purple a {
  color: #4b2f94;
}

/* BLUE */
.about.blue {
  background-color: #b8caff;
  color: #527dff;
}
.about.blue a {
  color: #0034d1;
}

/* GREEN */
.about.green {
  background-color: #cce8ca;
  color: #86c983;
}
.about.green a {
  color: #418f3e;
}
