.footer {
  background-color: white;
  padding: 5px;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

/* PINK */
.footer.pink {
  color: #f06897;
}
.footer.pink a {
  color: #c61350;
}

/* PURPLE */
.footer.purple {
  color: #8c71d2;
}
.footer.purple a {
  color: #4b2f94;
}

/* BLUE */
.footer.blue {
  color: #527dff;
}
.footer.blue a {
  color: #0034d1;
}

/* GREEN */
.footer.green {
  color: #86c983;
}
.footer.green a {
  color: #418f3e;
}
